/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* имейл и телефон в футере rgba(255, 255, 255, 0,6) */
/* акцент #2196F3 */
/* основной белый фон #FFFFFF */
/* серый фон #F5F4FA */
/* темно синий фон героя и футера #2F303A */

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --backgr-btn-color: #f5f4fa;
}
body {
  background-color: #ffffff;
  color: var(--main-text-color);
}
/* Основной цвет логотипа */
.header-logo,
.footer-logo {
  color: inherit;
}
/* Красит часть логотипа в синий цвет */
.web-logo {
  color: var(--accent-color);
}
/* вторичный цвет текста */
.contact-text,
.feature-text,
.team-text,
.work-text {
  color: var(--secondary-text-color);
}
/* Убираем точки перед списком */
.list {
  list-style: none;
}
/* Убираем подчеркивание у ссылок */
.link {
  text-decoration: none;
}
/* элементы навигации в хидере студии*/
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
.nav-list .link.current {
  color: var(--accent-color);
}
.nav-list .link {
  color: inherit;
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}
/* кнопки фильтров в портфолио*/
.filter .btn:hover,
.filter .btn:focus {
  color: white;
  background-color: var(--accent-color);
}
.filter .btn.current {
  color: white;
  background-color: var(--accent-color);
}
.btn {
  border-color: transparent;
}
.filter .btn {
  background-color: var(--backgr-btn-color);
}
/* Кнопка героя */
.hero .btn {
  background-color: var(--accent-color);
  color: white;
}
